.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.navigation {
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.navImg {
    width: 10vh;
    height: auto;
    border-radius: 50%;
    padding: 1vh;
}

.navLinks {
    width: 18vw;
    display: flex;
    justify-content: space-between;    
}

.navLinks a:hover {
    text-decoration: underline
}

.navLinks p {
    font-size: 1.3rem;
}

.landing{
    height: 88vh;
    width: 30vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
}

.center {
    font-weight: 100;
}

.center h1 {
    font-size: 2.7rem;
}

.center h2 {
    font-size: 1.9rem;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 286px;
  height: 236px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 375px;
  height: 136px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.landingLinks {
    display: flex;
    width: 30vw;
    justify-content: space-between;
    align-content: center;
}

.landingLinks a {
    top: 0px;
    width: 120px;
    height: 40px;
    border-radius: 12px;
    /*background: white;*/
}

.landingLinks a:hover{
    width: 120px;
    height: 40px;
    border-radius: 12px;
    background: rgba(var(--fill-rgb));
    box-shadow: 0 2px 4px 0 rgba(var(--card-rgb)), 0 3px 10px 0 rgba(var(--card-border-rgb));
}

.landingLinks p {
    font-size: 1.3rem;
    text-align: center;
    line-height: 40px;
}

.projectsSection{
    height: 88vh;
    width: 40vw;
}

.projects {
    position: relative;
    top: 15%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-wrap: wrap;
}

.project {
    width: 13vw;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.about {
    width: 40vw;
    height: 88vh;
    display: flex;
    flex-direction: column;
}

.aboutText {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

.aboutText p {
    font-size: 1.4rem;
}

.aboutButton {
    background: rgba(var(--fill-rgb));
    width: 180px;
    height: 45px;
    margin: auto;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(var(--card-rgb)), 0 6px 10px 0 rgba(var(--card-border-rgb));
}

.aboutButton:hover {
    box-shadow: 0 2px 4px 0 rgba(var(--card-rgb)), 0 3px 10px 0 rgba(var(--card-border-rgb));
}

.aboutButton:active {
    box-shadow: 0 1px 2px 0 rgba(var(--card-rgb)), 0 1px 2px 0 rgba(var(--card-border-rgb))
}

.aboutButton p {
    font-size: 2rem;
    text-align: center;
    line-height: 45px;
}

.footer {
    min-height: 45vh;
    background: rgb(var(--card-rgb));
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3.5%;
}

.footer ul {
    margin: auto;
    width: 60vw;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer p {
    font-size: 1.3rem;
    color: rgb(var(--background-end-rgb));
}

.footer a:hover {
    color: rgb(var(--background-end-rgb));
    text-decoration: underline;
}

.notice p {
    position: relative;
    top: 50px;
    text-align: center;
    font-size: 0.9rem;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}
