.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  min-height: 100vh;
  max-width: 100vw;
}

.resume {
    position: relative;
    margin: auto;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section {
    position: relative;
    margin-bottom: 5vh;
}

.list {
    max-width: 80%;
    margin: auto;
}

.lists {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 2vh;
}

.resume ul {
    margin-bottom: 2vh;
}

@media (max-width: 800px) {

    .resume {
	position: relative;
	width: 80vw;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    }

    .section {
	postion: relative;
	margin: auto;
	margin-bottom: 5vh;
    }

    .lists {
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
}
