.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.resume {
    position: relative;
    margin: auto;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section {
    position: relative;
    margin-bottom: 5vh;
}
